<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hotel Template">
    <meta name="keywords" content="Hotel, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mypage</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Taviraj:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../static/css/linearicons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

        .jg {
            font-family: 'Jeju Gothic', sans-serif;
        }

        input.underline {
            border-left-width: 0;
            border-right-width: 0;
            border-top-width: 0;
            border-bottom-width: 1;
        }

    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section other-page">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
                <div class="top-widget">


                </div>
                <div class="container">
                    <nav class="main-menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="./about-us.html">About</a></li>
                            <li><a href="./rooms.html">Rooms</a></li>
                            <li><a href="#">Facilities</a>
                                <ul class="drop-menu">
                                    <li><a href="#">Junior Suit</a></li>
                                    <li><a href="#">Double Room</a></li>
                                    <li><a href="#">Senior Suit</a></li>
                                    <li><a href="#">Single Room</a></li>
                                </ul>
                            </li>
                            <li><a href="./news.html">News</a></li>
                            <li><a href="./contact.html">Contact</a></li>


                        </ul>

                    </nav>
                    <span style=" font-size:1.5em; "><strong>
                            <div class="top-widget">
                                <div class="top-info phone-num">
                                    <div class="top-info address"><a href="./mypage.html" style="color: white">Mypage</a></div>
                                </div>
                            </div>
                        </strong></span>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="../static/img/services-bg.jpg">
        <div class="hero-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Mypage</h1>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Hero Section End -->



    <!-- Blog Section Begin -->

    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 order-2 order-lg-1">
                    <div class="side-bar">
                        <div class="categories-item">
                            <h4>Categories</h4>
                            <div class="categories-list">
                                <ul>
                                    <li><a href="{{ url_for ('chg_info')}}" style="color: black">personal information</a></li>
                                    <li><a href="#" style="color: black">reservation status</a></li>
                                    <li><a href="#" style="color: black">coupon</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8 order-1 order-lg-2">
                    <div class="blog-post">

                        <div class="single-blog-post">

                            <div class="blog-text">
                                <h2 class="jg">개인정보수정</h2><br>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                <span class="jg" style="color:lightcoral">{{message}}</span>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}


                                <form action="{{url_for('chg_info')}}" method="post">
                                    <span class="jg">
                                        <p><strong><span style="color:red">*</span>은 필수입력항목입니다.</strong></p>
                                        <label>아이디</label>:{{user}}<br><br>
                                        <label>비밀번호<strong><span style="color:red">*</span></strong></label> :
                                    </span>
                                    <input class="underline" type="password" name="cust_pw" size=30 /><br><br>
                                    <label class=jg>비밀번호 확인<strong><span style="color:red">*</span></strong></label> :
                                    <input class="underline" type="password" name="cust_pw2" size=30 /><br><br>
                                    <span class="jg"><label>이름(한국)</label> : {{kor_name}}<br><br>
                                        <span>이름(영어) :
                                            <input class="underline" type="text" placeholder="(이름)" name="cust_eng_first_name" size=10 value="{{efirname}}" />
                                            <input class="underline" type="text" placeholder="(성)" name="cust_eng_last_name" size=20 value="{{elasname}}" />
                                        </span><br><br>
                                        <label>생년월일</label> : {{birthday}}<br><br>
                                        <label>국가</label> : <input class="underline" type="text" name="cust_country" size=30 value="{{country}}" /><br><br>
                                        <label>지역</label> : <input class="underline" type="text" name="cust_region" size=30 value="{{region}}" /><br><br>
                                        <label>휴대전화<strong><span style="color:red">*</span></strong></label>:
                                        <input class="underline" type="text" name="cust_cell_ccc" size=6 placeholder="(+82)" value="" /><input class="underline" type="text" name="cust_cell_no" size=16 value="{{cell_no}}" placeholder="01012345678" maxlength="11" /><br><br>
                                        <label>카드</label> :
                                        <input type="text" name="cust_card_type" size=8 placeholder="(카드타입)" />
                                        <input type="text" name="cust_card_no" size=20 placeholder="(카드번호)" value="{{card_no}}" /><br><br>

                                        <label>카드 유효기간</label> :

                                        <input class="underline" type="month" name="cust_card_vlddate" size=12 value="{{vlddate}}" /><br><br>

                                        <div class=actions style="border:1px solid black float:right;"><input type=submit value="등록하기" /></div>
                                    </span>
                                </form>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-logo">
                        <a href="#"><img src="../static/img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row pb-50">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Location</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-map-marker"></i>
                            <p>1525 Boring Lane, <br />Los Angeles, CA</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Reception</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Shuttle Service</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Restaurant</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>
                        document.write(new Date().getFullYear());

                    </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <div class="privacy-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Photo Requests</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>
